@model tp10.ViewModels.CrearTareaViewModel
<h2>Crear Tarea</h2>

@Model.IdUsuarioAsignado

<form asp-action="CrearTarea" method="post">

    <div class="form-group">
        <label asp-for="@Model.IdTablero"> </label>
        <input asp-for="@Model.IdTablero" class="form-control" />
        <span asp-validation-for="@Model.IdTablero" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" class="form-control" />
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Estado"></label>
        <select asp-for="@Model.Estado" asp-items="Html.GetEnumSelectList<EstadoTarea>()" class="form-control">
            <option value=""> </option>
        </select>
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Descripcion"> </label>
        <textarea asp-for="@Model.Descripcion" class="form-control"></textarea>
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Color"> </label>
        <input asp-for="@Model.Color" class="form-control" />
        <span asp-validation-for="@Model.Color" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.IdUsuarioAsignado"> </label>
        <input asp-for="@Model.IdUsuarioAsignado" class="form-control" />
        <span asp-validation-for="@Model.IdUsuarioAsignado" class="text-danger"></span>
    </div>

    <div class="form-group">

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
