@model tp10.ViewModels.CrearTareaViewModel


@* @Model.IdTablero *@

<section class="section_forms">
    <form asp-action="CrearTarea" method="post">
        <h2>Crear Tarea</h2>
        @*IdTablero sin select *@
        @* <div class="form-group">
        <label asp-for="@Model.IdTablero"> </label>
        <input asp-for="@Model.IdTablero" class="form-control" />
        <span asp-validation-for="@Model.IdTablero" class="text-danger"></span>
        </div> *@

        @*IdTablero sin select *@
        <div class="form-group mb-3">
            <label asp-for="@Model.IdTablero"></label>
            <select asp-for="@Model.IdTablero" class="form-select">
                <option value="" selected> - - - </option>
                @foreach (var u in @Model.ListaTableros)
                {
                    <option value="@u.Id">@u.Nombre</option>
                }
            </select>
            <span asp-validation-for="@Model.IdTablero" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Nombre"></label>
            <input asp-for="@Model.Nombre" class="form-control" />
            <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Estado"></label>
            <select asp-for="@Model.Estado" asp-items="Html.GetEnumSelectList<EstadoTarea>()" class="form-control">
                <option value=""> </option>
            </select>
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Descripcion"> </label>
            <textarea asp-for="@Model.Descripcion" class="form-control"></textarea>
            <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Color"></label>
            <select asp-for="@Model.Color" class="form-control">
                <option value="">Seleccionar color</option>
                <option value="Rojo">Rojo</option>
                <option value="Azul">Azul</option>
                <option value="Verde">Verde</option>
            </select>
            <span asp-validation-for="@Model.Color" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="@Model.IdUsuarioAsignado"></label>
            <select asp-for="@Model.IdUsuarioAsignado" class="form-select">
                <option value="" selected> - - - </option>
                @foreach (var u in @Model.ListaUsuarios)
                {
                    <option value="@u.Id">@u.NombreDeUsuario</option>
                }
            </select>
            <span asp-validation-for="@Model.IdUsuarioAsignado" class="text-danger"></span>
        </div>

        <div class="form-group">

            <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}