@model tp10.ViewModels.ListarTareasViewModel

@if (ViewBag.AdminMessage != null)
{
    <p>@ViewBag.AdminMessage</p>
}

<h2>Listado de Tareas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>tablero</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Color</th>
            <th>Estado</th>
            <th>usuario_asignado</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.ListaTareas)
        {
            <tr>
                <td>@tarea.Id</td>
                <td>@Model.ListaTableros.FirstOrDefault(u => u.Id == tarea.IdTablero)?.Nombre</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.Estado</td>
                <td>@Model.ListaUsuarios.FirstOrDefault(u => u.Id == tarea.IdUsuarioAsignado)?.NombreDeUsuario</td>
                
                <td><a asp-controller="Tarea" asp-action="UpdateTarea" asp-route-id="@tarea.Id" class="btn btn-outline-primary">Modificar</a></td>

                <td><a asp-controller="Tarea" asp-action="DeleteTarea" asp-route-id="@tarea.Id" class="btn btn-outline-danger" onclick="return confirm('¿Estas seguro que quieres eliminar la tarea?')">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Tarea" asp-action="CrearTarea" class="btn btn-outline-dark margin" role="button">Nueva Tarea</a>
