
@model tp10.ViewModels.LoginViewModel

<form asp-controller="Login" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="@Model.nombreDeUsuario"></label>
        <input asp-for="@Model.nombreDeUsuario" class="form-control" />
        <span asp-validation-for="@Model.nombreDeUsuario" class="text-danger"></span>    
    </div>

    <div class="form-group">
        <label asp-for="@Model.contrasenia"></label>
        <input asp-for="@Model.contrasenia" class="form-control" />
        <span asp-validation-for="@Model.contrasenia" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
