@model tp10.ViewModels.LoginViewModel



<section class="section_forms">
    <form asp-controller="Login" asp-action="Login" method="post">
        <h2>Inicio de Sesión</h2>
        @if (Model.MensajeDeError != null)
        {
            <p>@Model.MensajeDeError</p>
        }
        <div class="form-group">
            <label asp-for="@Model.nombreDeUsuario"></label>
            <input asp-for="@Model.nombreDeUsuario" class="form-control" />
            <span asp-validation-for="@Model.nombreDeUsuario" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.contrasenia"></label>
            <input asp-for="@Model.contrasenia" type="password" class="form-control" />
            <span asp-validation-for="@Model.contrasenia" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>

        <a asp-controller="Usuario" asp-action="CrearUsuario" class="btn btn-outline-dark margin" role="button">Crear un
            Usuario</a>
    </form>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
