@model tp10.ViewModels.ListarTablerosViewModel

@if (ViewBag.AdminMessage != null)
{
    <p>@ViewBag.AdminMessage</p>
}

<h2>Listado de Tableros</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Id Usuario</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.Listatableros)
        {
            <tr>
                <td>@tablero.Id</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
                <td>@tablero.IdUsuarioPropietario</td>

                <td><a asp-controller="Tablero" asp-action="TareasAsociadas" asp-route-id="@tablero.Id" class="btn btn-outline-info">Tareas asociadas</a></td>
                
                <td><a asp-controller="Tablero" asp-action="UpdateTablero" asp-route-id="@tablero.Id" class="btn btn-outline-primary">Modificar</a></td>

                <td><a asp-controller="Tablero" asp-action="DeleteTablero" asp-route-id="@tablero.Id" class="btn btn-outline-danger" onclick="return confirm('¿Estas seguro que quieres eliminar el tablero?')">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Tablero" asp-action="CrearTablero" class="btn btn-outline-dark margin" role="button">Nuevo Tablero</a>
